.full-screen {
    max-height: 100vh;
    height: 737px;
    width: 100%;
}

/** 
 * iPad with portrait orientation.
 */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .full-screen {
        height: 1024px;
    }
}

/** 
 * iPad with landscape orientation.
 */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .full-screen {
        height: 768px;
    }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */

@media screen and (device-aspect-ratio: 40/71) {
    .full-screen {
        height: 500px;
    }
}
