.header-menu {
    display: none;
    @include breakpoint($large) {
        width: 73%;
        display: inline-block;
    }
    @include breakpoint($larger) {
        width: 55.19%;
    }
}
.footer-menu {
    display: none;
    @include breakpoint($larger) {
        display: inline-block;
    }
}
nav {
    &.desk {
        text-align: center;
        ul {
            padding: 45px 0 40px;
            @include breakpoint($larger) {
                padding: 55px 0 30px;
            }
            text-align: center;
            display: inline-block;
            li {
                text-align: left;
                display: inline-block;
                padding: 0;
                position: relative;
                @include breakpoint($large) {
                    padding: 0;
                }
                &:before {
                    content: "|";
                    padding-right: 1px;
                    font-size: 13px;
                    position: relative;
                    top: -1px;
                    letter-spacing: 0.1em;
                }
                &:first-child:before {
                    content: "";
                }
                &:first-child a:after {
                    left: 1px;
                }
                a {
                    color: $white;
                    font-family: $thin;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 12px;
                    &:after {
                        display: block;
                        height: 2px;
                        position: relative;
                        left: 6px;
                        width: 90%;
                        top: 5px;
                        background-color: $gold;
                        content: "";
                        transform: scaleX(0);
                        -webkit-transform: scaleX(0);
                        transition: all 0.3s ease-in-out 0s;
                        -webkit-transition: all 0.3s ease-in-out 0s;
                    }
                    &:hover:after {
                        transform: scaleX(1);
                        -webkit-transform: scaleX(1);
                    }
                }
                .linkActive:after {
                    transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                }
            }
        }
        li:first-child {
            padding-left: 0;
        }
        li:last-child {
            @include breakpoint($large) {
                padding-right: 0;
            }
        }
    }
    &.foot {
        @extend .desk;
        ul li {
            &:before {
                color: black;
                font-family: "$med-text", sans-serif;
            }
            a {
                color: black;
                font-family: "$med-text", sans-serif;
                &:after {
                    display: none;
                }
            }
        }
    }
    &.mob {
        display: none;
        position: fixed;
        height: 100%;
        z-index: 9000;
        top: 0;
        width: 100%;
        background-color: $grey;
        text-align: center;
        padding-top: 70px;
        font-family: $med-text;
        line-height: 3;
        font-size: 16px;
        a {
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}
