header {
    background: $trans-black;
    z-index: 800;
    position: absolute;
    width: 100%;
    text-align: left;
    .logo {
        padding: 20px 0 20px;
        @include breakpoint($larger) {
            padding: 30px 0 35px;
        }
        margin-bottom: 0;
    }
    .expert {
        line-height: 1.4;
        position: fixed;
        top: 0;
        display: block;
        width: 100%;
        text-align: center;
        background: black;
        padding-top: 2px;
        padding-bottom: 10px;
        margin-left: 0;
        @include breakpoint($larger) {
            display: inline-block;
            width: 14%;
            text-align: right;
            position: relative;
            background: none;
            padding-top: 20px;
            left: 0;
        }
        .inner-expert {
            right: 0;
            width: 100%;
            @include breakpoint($larger) {
                width: 200px;
                position: absolute;
            }
            div {
                display: inline-block;
                @include breakpoint($larger) {
                    width: auto;
                    margin-left: 0;
                }
            }
            div:first-child {
                display: none;
                @include breakpoint($larger) {
                    display: inline-block;
                }
                font-family: $thin;
                font-size: 16px;
                span {
                    font-family: $med-text;
                    padding-right: 5px;
                }
            }
            div:nth-child(2) {
                font-family: $med-text;
                font-size: 22px;
            }
            div:nth-child(3) {
                font-family: $med-text;
                padding: 6px 20px;
                text-align: center;
                margin-top: 8px;
                border-top: 2px solid $gold;
                border-bottom: 2px solid $gold;
                font-size: 14px;
                width: 180px;
                position: relative;
                @include breakpoint($larger) {
                    left: 20px;
                }
                a {
                    color: $white;
                    text-decoration: none;
                    font-family: $thin;
                }
            }
        }
    }
}
.banner {
    background: url(/img/banner-bg.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
    .box {
        position: relative;
        padding: 22px;
        top: 140px;
        background: $trans-black;
        width: 670px;
        @include breakpoint($smallerthan800) {
            margin-left: auto;
            margin-right: auto;
        }
        max-width: 85%;
        box-shadow: 0px 0px 2px $trans-black;
        @include breakpoint($med) {
            top: 160px;
        }
        @include breakpoint($med-large) {
            top: 200px;
            position: absolute;
        }
        @include breakpoint($large) {
            top: 240px;
        }
        @include breakpoint($larger) {
            top: 270px;
        }
    }
}
.sectors {
    text-align: left;
    padding: 43px 0;
    background-color: $light-grey;
    background-image: url(/img/overlay.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .box {
        max-width: 600px;
        @include breakpoint($smallerthan800) {
            margin-left: auto;
            margin-right: auto;
            max-width: 85%;
        }
        padding: 100px 77px 65px 30px;
        box-shadow: 0px 0px 2px $trans-black;
        &:first-child {
            background: url(/img/pleased.jpg);
            background-size: cover;
        }
        &:nth-child(2) {
            background: url(/img/writing.jpg);
            background-size: cover;
        }
    }
}
.news {
    padding: 43px 0;
    background-color: $gold; // Old browsers
    @include filter-gradient(#614310, #614310, vertical); // Old IE
    @include background-image(linear-gradient(top, #614310 0%, #6e4d15 43%, #6e4d15 57%, #614310 100%));
    #displayBlogStory {
        @extend .grid4;
        max-width: 450px;
        @include breakpoint($smallerthan800) {
            margin-left: auto;
            margin-right: auto;
            max-width: 85%;
        }
        text-align: center;
        border: 1px solid $white;
        background: #111;
        font-family: $thin;
        &:first-child {
            background: #11161c
        }
        .blogTitle {
            margin: 20px 0;
            font-size: 17px;
            font-family: $med-text;
            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
        .blogBody {
            padding: 0 20px;
            font-size: 14px;
            line-height: 1.6;
            p {
                margin-top: 20px;
            }
            a {
                font-size: 15px;
                color: white;
                text-decoration: none;
                border-bottom: 1px solid white;
                transition: color 1s;
                &:hover {
                    color: $gold;
                    border-bottom-color: $gold;
                }
            }
        }
        img.full {
            width: 100%;
        }
    }
    .twitter-box {
        @extend #displayBlogStory;
        background: $twit-blue;
        .tweet {
            @extend .blogBody;
        }
        .twit-logo {
            margin: 12px 0;
        }
        .interact a {
            margin: 0 10px;
            font-size: 15px;
            color: white;
            text-decoration: none;
            border-bottom: 1px solid white;
            transition: color 1s;
            font-family: $med-text;
            &:hover {
                color: $gold;
                border-bottom-color: $gold;
            }
        }
    }
}
footer {
    .logo {
        padding: 30px 0 30px;
        margin-bottom: 0;
    }
    .top-footer {
        background: $white;
    }
    .socialboxes {
        margin-bottom: 0;
        display: none;
        @include breakpoint($med-large) {
            display: inline-block;
            width: 73%;
        }
        @include breakpoint($larger) {
            width: 14.38%;
        }
        text-align: right;
        padding: 40px 0;
        margin: auto;
        .socialbox {
            text-align: center;
            border: 1px solid $gold;
            display: inline-block;
            margin: 5px;
            width: 40px;
            height: 40px;
            padding: 7px;
            transition: background-color 0.6s;
            -webkit-transition: background-color 0.6s;
            &:hover {
                background-color: $gold;
            }
        }
    }
    .copyright {
        background: $grey;
        color: $white;
        text-align: right;
        font-family: $thin;
        font-size: 12px;
        padding: 10px 0;
    }
}
