/*COLOURS*/

$gold: #674812;
$light-grey: #dcd9d9;
$white: #fff;
$trans-black: rgba(0, 0, 0, 0.8);
$twit-blue: #0a6a8c;
$grey: #151515;

/*FONTS*/

$condensed: 'RobotoCondensed',
sans-serif;
$condensed-bold: 'RobotoBoldCondensed',
sans-serif;
$thin: 'RobotoThin',
sans-serif;
$med-text: 'RobotoMedium',
sans-serif;
