/*COLOURS*/

$gold: #674812;
$light-grey: #dcd9d9;
$white: #fff;
$trans-black: rgba(0, 0, 0, 0.7);

/*FONTS*/

$condensed: 'RobotoCondensed',
sans-serif;
$condensed-bold: 'RobotoBoldCondensed',
sans-serif;
$thin: 'RobotoThin',
sans-serif;
$med-text: 'RobotoMedium',
sans-serif;
