/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("/fonts/fonts/Roboto-Regular-webfont.eot");
  src: url("/fonts/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/fonts/Roboto-Regular-webfont.woff") format("woff"), url("/fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("/fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoItalic';
  src: url("/fonts/Roboto-Italic-webfont.eot");
  src: url("/fonts/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Italic-webfont.woff") format("woff"), url("/fonts/Roboto-Italic-webfont.ttf") format("truetype"), url("/fonts/Roboto-Italic-webfont.svg#RobotoItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url("/fonts/Roboto-Bold-webfont.eot");
  src: url("/fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Bold-webfont.woff") format("woff"), url("/fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("/fonts/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url("/fonts/Roboto-BoldItalic-webfont.eot");
  src: url("/fonts/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BoldItalic-webfont.woff") format("woff"), url("/fonts/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Regular.eot");
  src: url("/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensed-Regular.woff") format("woff"), url("/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("/fonts/RobotoCondensed-Regular.svg#RobotoCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedItalic';
  src: url("/fonts/Roboto-CondensedItalic-webfont.eot");
  src: url("/fonts/Roboto-CondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-CondensedItalic-webfont.woff") format("woff"), url("/fonts/Roboto-CondensedItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url("/fonts/Roboto-BoldCondensed-webfont.eot");
  src: url("/fonts/Roboto-BoldCondensed-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BoldCondensed-webfont.woff") format("woff"), url("/fonts/Roboto-BoldCondensed-webfont.ttf") format("truetype"), url("/fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensedItalic';
  src: url("/fonts/Roboto-BoldCondensedItalic-webfont.eot");
  src: url("/fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BoldCondensedItalic-webfont.woff") format("woff"), url("/fonts/Roboto-BoldCondensedItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url("/fonts/Roboto-Thin-webfont.eot");
  src: url("/fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Thin-webfont.woff") format("woff"), url("/fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("/fonts/Roboto-Thin-webfont.svg#RobotoThin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: url("/fonts/Roboto-ThinItalic-webfont.eot");
  src: url("/fonts/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-ThinItalic-webfont.woff") format("woff"), url("/fonts/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url("/fonts/Roboto-Light-webfont.eot");
  src: url("/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Light-webfont.woff") format("woff"), url("/fonts/Roboto-Light-webfont.ttf") format("truetype"), url("/fonts/Roboto-Light-webfont.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url("/fonts/Roboto-LightItalic-webfont.eot");
  src: url("/fonts/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-LightItalic-webfont.woff") format("woff"), url("/fonts/Roboto-LightItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("/fonts/Roboto-Medium-webfont.eot");
  src: url("/fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Medium-webfont.woff") format("woff"), url("/fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("/fonts/Roboto-Medium-webfont.svg#RobotoMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src: url("/fonts/Roboto-MediumItalic-webfont.eot");
  src: url("/fonts/Roboto-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-MediumItalic-webfont.woff") format("woff"), url("/fonts/Roboto-MediumItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url("/fonts/Roboto-Black-webfont.eot");
  src: url("/fonts/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Black-webfont.woff") format("woff"), url("/fonts/Roboto-Black-webfont.ttf") format("truetype"), url("/fonts/Roboto-Black-webfont.svg#RobotoBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlackItalic';
  src: url("/fonts/Roboto-BlackItalic-webfont.eot");
  src: url("/fonts/Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BlackItalic-webfont.woff") format("woff"), url("/fonts/Roboto-BlackItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*COLOURS*/
/*FONTS*/
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1199px;
  margin: 0px auto;
  padding: 0 12.5px 0 12.5px;
  display: block;
}

/* line 30, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid1 {
    width: 6.16514%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid2 {
    width: 14.33194%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid3 {
    width: 22.49875%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid4 {
    width: 30.66555%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid5 {
    width: 38.83236%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid6 {
    width: 46.99917%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid7 {
    width: 55.16597%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid8 {
    width: 63.33278%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid9 {
    width: 71.49958%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid10 {
    width: 79.66639%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid11 {
    width: 87.83319%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 50, ../sass/_grid.scss */
.grid:first-child {
  margin-left: 0;
}

/* line 1, ../sass/_full-screen.scss */
.full-screen {
  height: 100vh;
  width: 100vw;
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* line 11, ../sass/_full-screen.scss */
  .full-screen {
    height: 1024px;
  }
}
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* line 21, ../sass/_full-screen.scss */
  .full-screen {
    height: 768px;
  }
}
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40 / 71) {
  /* line 32, ../sass/_full-screen.scss */
  .full-screen {
    height: 500px;
  }
}
/* line 1, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 4, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 9, ../sass/_general.scss */
body {
  color: white;
  line-height: 1.6;
}
/* line 12, ../sass/_general.scss */
body h1 {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 29px;
  text-transform: uppercase;
}

/* line 1, ../sass/_sections.scss */
.banner {
  background: url(/img/banner-bg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
/* line 6, ../sass/_sections.scss */
.banner .box {
  position: relative;
  padding: 32px;
  background: rgba(0, 0, 0, 0.7);
}
