/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("/fonts/fonts/Roboto-Regular-webfont.eot");
  src: url("/fonts/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/fonts/Roboto-Regular-webfont.woff") format("woff"), url("/fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("/fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoItalic';
  src: url("/fonts/Roboto-Italic-webfont.eot");
  src: url("/fonts/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Italic-webfont.woff") format("woff"), url("/fonts/Roboto-Italic-webfont.ttf") format("truetype"), url("/fonts/Roboto-Italic-webfont.svg#RobotoItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url("/fonts/Roboto-Bold-webfont.eot");
  src: url("/fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Bold-webfont.woff") format("woff"), url("/fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("/fonts/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url("/fonts/Roboto-BoldItalic-webfont.eot");
  src: url("/fonts/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BoldItalic-webfont.woff") format("woff"), url("/fonts/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url("/fonts/RobotoCondensed-Regular.eot");
  src: url("/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensed-Regular.woff") format("woff"), url("/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("/fonts/RobotoCondensed-Regular.svg#RobotoCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedItalic';
  src: url("/fonts/Roboto-CondensedItalic-webfont.eot");
  src: url("/fonts/Roboto-CondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-CondensedItalic-webfont.woff") format("woff"), url("/fonts/Roboto-CondensedItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url("/fonts/Roboto-BoldCondensed-webfont.eot");
  src: url("/fonts/Roboto-BoldCondensed-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BoldCondensed-webfont.woff") format("woff"), url("/fonts/Roboto-BoldCondensed-webfont.ttf") format("truetype"), url("/fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensedItalic';
  src: url("/fonts/Roboto-BoldCondensedItalic-webfont.eot");
  src: url("/fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BoldCondensedItalic-webfont.woff") format("woff"), url("/fonts/Roboto-BoldCondensedItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url("/fonts/Roboto-Thin-webfont.eot");
  src: url("/fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Thin-webfont.woff") format("woff"), url("/fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("/fonts/Roboto-Thin-webfont.svg#RobotoThin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: url("/fonts/Roboto-ThinItalic-webfont.eot");
  src: url("/fonts/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-ThinItalic-webfont.woff") format("woff"), url("/fonts/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url("/fonts/Roboto-Light-webfont.eot");
  src: url("/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Light-webfont.woff") format("woff"), url("/fonts/Roboto-Light-webfont.ttf") format("truetype"), url("/fonts/Roboto-Light-webfont.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url("/fonts/Roboto-LightItalic-webfont.eot");
  src: url("/fonts/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-LightItalic-webfont.woff") format("woff"), url("/fonts/Roboto-LightItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("/fonts/Roboto-Medium-webfont.eot");
  src: url("/fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Medium-webfont.woff") format("woff"), url("/fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("/fonts/Roboto-Medium-webfont.svg#RobotoMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src: url("/fonts/Roboto-MediumItalic-webfont.eot");
  src: url("/fonts/Roboto-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-MediumItalic-webfont.woff") format("woff"), url("/fonts/Roboto-MediumItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url("/fonts/Roboto-Black-webfont.eot");
  src: url("/fonts/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Black-webfont.woff") format("woff"), url("/fonts/Roboto-Black-webfont.ttf") format("truetype"), url("/fonts/Roboto-Black-webfont.svg#RobotoBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlackItalic';
  src: url("/fonts/Roboto-BlackItalic-webfont.eot");
  src: url("/fonts/Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-BlackItalic-webfont.woff") format("woff"), url("/fonts/Roboto-BlackItalic-webfont.ttf") format("truetype"), url("/fonts/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?wycmvo");
  src: url("/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/fonts/icomoon.woff?wycmvo") format("woff"), url("/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 123, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 136, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 139, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*COLOURS*/
/*FONTS*/
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1210px;
  margin: 0px auto;
  padding: 0 13px 0 13px;
  display: block;
}

/* line 30, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid1 {
    width: 6.10909%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid2 {
    width: 14.28099%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid3 {
    width: 22.45289%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid4, .news #displayBlogStory, .news .twitter-box {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid4, .news #displayBlogStory, .news .twitter-box {
    width: 30.62479%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid5 {
    width: 38.79669%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid6 {
    width: 46.9686%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid7 {
    width: 55.1405%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid8 {
    width: 63.3124%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid9 {
    width: 71.4843%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid10 {
    width: 79.6562%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 800px) {
  /* line 30, ../sass/_grid.scss */
  .grid11 {
    width: 87.8281%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.06281%;
    margin-bottom: 0;
  }
}

/* line 50, ../sass/_grid.scss */
.grid:first-child {
  margin-left: 0;
}

/* line 1, ../sass/_full-screen.scss */
.full-screen {
  width: 100%;
  height: auto;
  padding-bottom: 180px;
}
@media (min-width: 450px) {
  /* line 1, ../sass/_full-screen.scss */
  .full-screen {
    height: 737px;
    max-height: 100vh;
  }
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* line 16, ../sass/_full-screen.scss */
  .full-screen {
    height: 1024px;
  }
}
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* line 26, ../sass/_full-screen.scss */
  .full-screen {
    height: 768px;
  }
}
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40 / 71) {
  /* line 37, ../sass/_full-screen.scss */
  .full-screen {
    height: 500px;
  }
}
/* line 1, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 4, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 9, ../sass/_general.scss */
body {
  color: white;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 800px) {
  /* line 9, ../sass/_general.scss */
  body {
    text-align: left;
  }
}
/* line 16, ../sass/_general.scss */
body h1 {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 29px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 22, ../sass/_general.scss */
body p {
  margin-bottom: 25px;
  font-family: "RobotoThin", sans-serif;
  font-size: 13px;
}
/* line 27, ../sass/_general.scss */
body span.bold {
  font-weight: bold;
}
/* line 30, ../sass/_general.scss */
body p.bold {
  font-family: "RobotoMedium", sans-serif;
  font-size: 17px;
}
/* line 34, ../sass/_general.scss */
body button {
  padding: 15px 55px;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid white;
  outline: none;
  color: white;
  font-size: 16px;
  font-family: "RobotoThin", sans-serif;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
/* line 46, ../sass/_general.scss */
body button:hover {
  cursor: pointer;
  background: #674812;
  border: 1px solid #674812;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.85);
}
/* line 52, ../sass/_general.scss */
body .gold-bar {
  background: #674812;
  width: 60px;
  height: 4px;
  margin-bottom: 23px;
}

/* line 1, ../sass/_nav.scss */
.header-menu {
  display: none;
}
@media (min-width: 1024px) {
  /* line 1, ../sass/_nav.scss */
  .header-menu {
    width: 72%;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/_nav.scss */
  .header-menu {
    width: 58.19%;
  }
}

/* line 11, ../sass/_nav.scss */
.footer-menu {
  display: none;
}
@media (min-width: 1200px) {
  /* line 11, ../sass/_nav.scss */
  .footer-menu {
    display: inline-block;
  }
}

/* line 18, ../sass/_nav.scss */
nav.desk, nav.foot, nav.stuck {
  text-align: right;
}
/* line 20, ../sass/_nav.scss */
nav.desk ul, nav.foot ul, nav.stuck ul {
  padding: 45px 0 40px;
  text-align: center;
  display: inline-block;
}
@media (min-width: 1200px) {
  /* line 20, ../sass/_nav.scss */
  nav.desk ul, nav.foot ul, nav.stuck ul {
    padding: 65px 0 30px;
  }
}
/* line 27, ../sass/_nav.scss */
nav.desk ul li, nav.foot ul li, nav.stuck ul li {
  text-align: left;
  display: inline-block;
  padding: 0;
  position: relative;
}
@media (min-width: 1024px) {
  /* line 27, ../sass/_nav.scss */
  nav.desk ul li, nav.foot ul li, nav.stuck ul li {
    padding: 0;
  }
}
/* line 35, ../sass/_nav.scss */
nav.desk ul li:before, nav.foot ul li:before, nav.stuck ul li:before {
  content: "|";
  padding-right: 1px;
  font-size: 13px;
  position: relative;
  top: -1px;
  letter-spacing: 0.1em;
}
/* line 43, ../sass/_nav.scss */
nav.desk ul li:first-child:before, nav.foot ul li:first-child:before, nav.stuck ul li:first-child:before {
  content: "";
}
/* line 46, ../sass/_nav.scss */
nav.desk ul li:first-child a:after, nav.foot ul li:first-child a:after, nav.stuck ul li:first-child a:after {
  left: 1px;
}
/* line 49, ../sass/_nav.scss */
nav.desk ul li a, nav.foot ul li a, nav.stuck ul li a {
  color: #fff;
  font-family: "RobotoThin", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
}
/* line 55, ../sass/_nav.scss */
nav.desk ul li a:after, nav.foot ul li a:after, nav.stuck ul li a:after {
  display: block;
  height: 2px;
  position: relative;
  left: 6px;
  width: 90%;
  top: 5px;
  background-color: #674812;
  content: "";
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
/* line 69, ../sass/_nav.scss */
nav.desk ul li a:hover:after, nav.foot ul li a:hover:after, nav.stuck ul li a:hover:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
/* line 74, ../sass/_nav.scss */
nav.desk ul li .linkActive:after, nav.foot ul li .linkActive:after, nav.stuck ul li .linkActive:after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
/* line 80, ../sass/_nav.scss */
nav.desk li:first-child, nav.foot li:first-child, nav.stuck li:first-child {
  padding-left: 0;
}
@media (min-width: 1024px) {
  /* line 83, ../sass/_nav.scss */
  nav.desk li:last-child, nav.foot li:last-child, nav.stuck li:last-child {
    padding-right: 0;
  }
}
/* line 91, ../sass/_nav.scss */
nav.foot ul {
  padding: 56px 0 0;
}
/* line 94, ../sass/_nav.scss */
nav.foot ul li:before {
  color: black;
  font-family: "$med-text", sans-serif;
}
/* line 98, ../sass/_nav.scss */
nav.foot ul li a {
  color: black;
  font-family: "$med-text", sans-serif;
  font-size: 12px;
}
/* line 102, ../sass/_nav.scss */
nav.foot ul li a:after {
  display: none;
}
/* line 109, ../sass/_nav.scss */
nav.stuck {
  display: none;
  position: fixed;
  background: black;
  width: 100%;
  z-index: 9500;
  top: 0;
  margin: 0;
  text-align: center;
  height: auto;
}
/* line 120, ../sass/_nav.scss */
nav.stuck ul {
  padding: 14px 0;
}
/* line 122, ../sass/_nav.scss */
nav.stuck ul li {
  padding: 0;
}
/* line 124, ../sass/_nav.scss */
nav.stuck ul li a {
  font-size: 13pt;
}
/* line 130, ../sass/_nav.scss */
nav.mob {
  display: none;
  position: fixed;
  height: 100%;
  z-index: 8999;
  top: 0;
  width: 100%;
  background-color: #151515;
  text-align: center;
  padding-top: 70px;
  font-family: "RobotoMedium", sans-serif;
  line-height: 3;
  font-size: 16px;
}
/* line 143, ../sass/_nav.scss */
nav.mob a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 151, ../sass/_nav.scss */
.menu_button {
  position: fixed;
  z-index: 9000;
  display: inline-block;
  font-size: 50px;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  transition: color 1s;
  -webkit-transition: color 1s;
  right: 10px;
  top: 33px;
  width: auto;
  padding: 0;
}
@media (min-width: 1024px) {
  /* line 151, ../sass/_nav.scss */
  .menu_button {
    display: none;
  }
}
/* line 169, ../sass/_nav.scss */
.menu_button:hover {
  background: none;
  border: none;
  box-shadow: none;
  color: #674812;
}
/* line 175, ../sass/_nav.scss */
.menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
}
/* line 179, ../sass/_nav.scss */
.menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
}

/* line 1, ../sass/_sections.scss */
header {
  background: rgba(0, 0, 0, 0.85);
  z-index: 800;
  position: fixed;
  width: 100%;
  text-align: left;
}
@media (min-width: 1024px) {
  /* line 1, ../sass/_sections.scss */
  header {
    position: absolute;
  }
}
/* line 10, ../sass/_sections.scss */
header .logo {
  max-width: 75%;
  padding: 25px 0 20px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  /* line 10, ../sass/_sections.scss */
  header .logo {
    padding: 40px 0 35px;
  }
}
@media (max-width: 800px) {
  /* line 17, ../sass/_sections.scss */
  header .logo img {
    max-width: 100%;
  }
}
/* line 23, ../sass/_sections.scss */
header .expert {
  display: none;
  line-height: 1.4;
  position: relative;
  top: 0;
  background: none;
  padding-bottom: 10px;
  margin-left: 0;
  width: 14%;
  text-align: right;
  padding-top: 20px;
}
@media (min-width: 1200px) {
  /* line 23, ../sass/_sections.scss */
  header .expert {
    display: inline-block;
  }
}
/* line 37, ../sass/_sections.scss */
header .expert .inner-expert {
  width: 200px;
  position: absolute;
}
/* line 40, ../sass/_sections.scss */
header .expert .inner-expert div {
  width: auto;
  margin-left: 0;
}
/* line 44, ../sass/_sections.scss */
header .expert .inner-expert div:first-child {
  display: inline-block;
  font-family: "RobotoThin", sans-serif;
  font-size: 16px;
}
/* line 48, ../sass/_sections.scss */
header .expert .inner-expert div:first-child span {
  font-family: "RobotoMedium", sans-serif;
  padding-right: 5px;
}
/* line 53, ../sass/_sections.scss */
header .expert .inner-expert div:nth-child(2) {
  font-family: "RobotoMedium", sans-serif;
  font-size: 22px;
}
/* line 57, ../sass/_sections.scss */
header .expert .inner-expert div:nth-child(3) {
  font-family: "RobotoMedium", sans-serif;
  padding: 6px 20px;
  text-align: center;
  margin-top: 8px;
  border-top: 2px solid #674812;
  border-bottom: 2px solid #674812;
  font-size: 14px;
  width: 180px;
  position: relative;
  left: 20px;
}
/* line 68, ../sass/_sections.scss */
header .expert .inner-expert div:nth-child(3) a {
  color: #fff;
  text-decoration: none;
  font-family: "RobotoThin", sans-serif;
}

/* line 77, ../sass/_sections.scss */
.banner {
  background: url(/img/banner-bg.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
}
/* line 82, ../sass/_sections.scss */
.banner .box {
  position: relative;
  padding: 22px;
  top: 140px;
  background: rgba(0, 0, 0, 0.85);
  width: 670px;
  max-width: 85%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
}
@media (max-width: 800px) {
  /* line 82, ../sass/_sections.scss */
  .banner .box {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 450px) {
  /* line 82, ../sass/_sections.scss */
  .banner .box {
    top: 160px;
  }
}
@media (min-width: 800px) {
  /* line 82, ../sass/_sections.scss */
  .banner .box {
    top: 200px;
    position: absolute;
  }
}
@media (min-width: 1024px) {
  /* line 82, ../sass/_sections.scss */
  .banner .box {
    top: 240px;
  }
}
@media (min-width: 1200px) {
  /* line 82, ../sass/_sections.scss */
  .banner .box {
    top: 270px;
  }
}

/* line 109, ../sass/_sections.scss */
.sectors {
  text-align: left;
  padding: 43px 0;
  background-color: #dcd9d9;
  background-image: url(/img/overlay.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 117, ../sass/_sections.scss */
.sectors .box {
  max-width: 600px;
  padding: 100px 77px 65px 30px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
}
@media (max-width: 800px) {
  /* line 117, ../sass/_sections.scss */
  .sectors .box {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
  }
}
/* line 126, ../sass/_sections.scss */
.sectors .box:first-child {
  background: url(/img/pleased.jpg);
  background-size: cover;
}
/* line 130, ../sass/_sections.scss */
.sectors .box:nth-child(2) {
  background: url(/img/writing.jpg);
  background-size: cover;
}

/* line 136, ../sass/_sections.scss */
.news {
  padding: 43px 0;
  background-color: #674812;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF614310', endColorstr='#FF614310');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNDMxMCIvPjxzdG9wIG9mZnNldD0iNDMlIiBzdG9wLWNvbG9yPSIjNmU0ZDE1Ii8+PHN0b3Agb2Zmc2V0PSI1NyUiIHN0b3AtY29sb3I9IiM2ZTRkMTUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MTQzMTAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #614310), color-stop(43%, #6e4d15), color-stop(57%, #6e4d15), color-stop(100%, #614310));
  background-image: -moz-linear-gradient(top, #614310 0%, #6e4d15 43%, #6e4d15 57%, #614310 100%);
  background-image: -webkit-linear-gradient(top, #614310 0%, #6e4d15 43%, #6e4d15 57%, #614310 100%);
  background-image: linear-gradient(to bottom, #614310 0%, #6e4d15 43%, #6e4d15 57%, #614310 100%);
}
/* line 141, ../sass/_sections.scss */
.news #displayBlogStory, .news .twitter-box {
  max-width: 450px;
  text-align: center;
  border: 1px solid #fff;
  background: #111;
  font-family: "RobotoThin", sans-serif;
}
@media (max-width: 800px) {
  /* line 141, ../sass/_sections.scss */
  .news #displayBlogStory, .news .twitter-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
  }
}
/* line 153, ../sass/_sections.scss */
.news #displayBlogStory:first-child, .news .twitter-box:first-child {
  background: #11161c;
}
/* line 156, ../sass/_sections.scss */
.news #displayBlogStory .blogTitle, .news .twitter-box .blogTitle {
  margin: 20px 0;
  font-size: 17px;
  font-family: "RobotoMedium", sans-serif;
}
/* line 160, ../sass/_sections.scss */
.news #displayBlogStory .blogTitle a, .news .twitter-box .blogTitle a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 166, ../sass/_sections.scss */
.news #displayBlogStory .blogBody, .news .twitter-box .blogBody, .news #displayBlogStory .twitter-box .tweet, .news .twitter-box #displayBlogStory .tweet, .news .twitter-box .tweet {
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.6;
}
/* line 170, ../sass/_sections.scss */
.news #displayBlogStory .blogBody p, .news .twitter-box .blogBody p, .news #displayBlogStory .twitter-box .tweet p, .news .twitter-box #displayBlogStory .tweet p, .news .twitter-box .tweet p {
  margin-top: 20px;
}
/* line 173, ../sass/_sections.scss */
.news #displayBlogStory .blogBody a, .news .twitter-box .blogBody a, .news #displayBlogStory .twitter-box .tweet a, .news .twitter-box #displayBlogStory .tweet a, .news .twitter-box .tweet a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: color 1s;
}
/* line 179, ../sass/_sections.scss */
.news #displayBlogStory .blogBody a:hover, .news .twitter-box .blogBody a:hover, .news #displayBlogStory .twitter-box .tweet a:hover, .news .twitter-box #displayBlogStory .tweet a:hover, .news .twitter-box .tweet a:hover {
  color: #674812;
  border-bottom-color: #674812;
}
/* line 185, ../sass/_sections.scss */
.news #displayBlogStory img.full, .news .twitter-box img.full {
  width: 100%;
}
/* line 189, ../sass/_sections.scss */
.news .twitter-box {
  background: #0a6a8c;
}
/* line 195, ../sass/_sections.scss */
.news .twitter-box .twit-logo {
  margin: 12px 0;
}
/* line 198, ../sass/_sections.scss */
.news .twitter-box .interact a {
  margin: 0 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: color 1s;
  font-family: "RobotoMedium", sans-serif;
}
/* line 206, ../sass/_sections.scss */
.news .twitter-box .interact a:hover {
  color: #674812;
  border-bottom-color: #674812;
}

/* line 214, ../sass/_sections.scss */
footer .logo {
  padding: 30px 0 30px;
  margin-bottom: 0;
}
/* line 218, ../sass/_sections.scss */
footer .top-footer {
  background: #fff;
}
/* line 221, ../sass/_sections.scss */
footer .socialboxes {
  margin-bottom: 0;
  display: none;
  text-align: right;
  padding: 40px 0;
  margin: auto;
}
@media (min-width: 800px) {
  /* line 221, ../sass/_sections.scss */
  footer .socialboxes {
    display: inline-block;
    width: 73%;
  }
}
@media (min-width: 1200px) {
  /* line 221, ../sass/_sections.scss */
  footer .socialboxes {
    width: 14.38%;
  }
}
/* line 234, ../sass/_sections.scss */
footer .socialboxes .socialbox {
  text-align: center;
  border: 1px solid #674812;
  display: inline-block;
  margin: 5px;
  width: 40px;
  height: 40px;
  padding: 7px;
  transition: background-color 0.6s;
  -webkit-transition: background-color 0.6s;
}
/* line 244, ../sass/_sections.scss */
footer .socialboxes .socialbox:hover {
  background-color: #674812;
}
/* line 249, ../sass/_sections.scss */
footer .copyright {
  background: #151515;
  color: #fff;
  text-align: right;
  font-family: "RobotoThin", sans-serif;
  font-size: 12px;
  padding: 10px 0;
}
